@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700|Yanone+Kaffeesatz&display=swap');

@mixin Roboto-Condensed{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin Roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin Helvetica-Neue{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
}
